<a href="/#/create">Create New Meetup</a> 
<h1>
    There are {{meetups.length}}  meetups.
</h1>
<ul>
    <li ng-repeat ="meetup in meetups">
      <table>
       <tr>
        <td> <a href="/#/{{meetup._id}}" ng-click="findMeetup(meetup._id)" > {{meetup.name}} </a></td>
      <td> <a href="/#/{{meetup._id}}/edit" ng-click="findMeetup(meetup._id)">Edit</a> </td>
       <td> <button ng-click="deleteMeetup(meetup._id)" >Delete</button></td>
       </tr>
      </table> 
    </li>
</ul>
       
<form ng-submit="createMeetup()">
    <input type="text" ng-model="meetupName" placeholder="Meetup name">
    <button type="submit">Add</button>
</form>
         